/* Uniform site header dimensions */
.site-header__inner{
  height:65.6px !important;
}
.site-brand img{
  display:block;
  height:38.4px !important;
  width:auto !important;
  max-height:38.4px !important;
}
@media(max-width:720px){
  .site-header__inner{
    height:57.6px !important;
  }
  .site-brand img{
    height:38.4px !important;
    max-height:38.4px !important;
    width:auto !important;
  }
}
