/* Uniform site header dimensions */
.site-header__inner{
  height:65.6px !important;
}
.site-brand img{
  display:block;
  height:38.4px !important;
  width:auto !important;
  max-height:38.4px !important;
}
@media(max-width:980px){
  .site-brand{
    transform:translateX(-14px);
  }
}

@media(min-width:561px) and (max-width:980px){
  .site-brand__name{
    display:inline;
  }
}

@media(max-width:720px){
  .site-header__inner{
    height:57.6px !important;
  }
}

@media(max-width:560px){
  .site-brand__name{
    display:none;
  }
  .site-brand img{
    height:38.4px !important;
    max-height:38.4px !important;
    width:auto !important;
    transform:translate(-4px,0);
  }
}
